[prompt]
## prompt format: informal_proof_intro+informal_proof+formal_proof_intro+formal_proof+lean_error_intro+lean_error
#first_intro="Formalize the following proof in lean 3:"
#informal_proof_intro="I am trying to formalize the following proof in lean 3:"
informal_proof="Theorem: if an integer n has the property that n^2 is even, then n is even. Proof: we'll prove this by cases depending on whether n is even or odd. If n is even, we are done. If n is odd, then there is an integer k so that n=2*k+1. Then n^2=(2*k+1)^2=4*k^2+4*k+1 = 2*(2*k^2+2^k)+1. This means that n^2 is odd, contradicting the fact that n^2 is even."
#formal_proof_intro="I tried the following code:"
#lean_error_intro="But lean gives me the following error:"

## instructions passed to gpt
gpt_instructions="Only include code in your responses, no other explanations."

[openai]
## model to use (gpt-3.5-turbo or gpt-4)
#gpt_ver=gpt-3.5-turbo

# API key
## default: use path instead, see below
#api_key=

[limits]
## stop after n queries
## set to 0 for unlimited
#max_queries=100

## stop after n tokens
## set to 0 for unlimited
#max_tokens=10000

## prompt to continue every n queries
## set to 0 to never prompt
#interactive_freq=1

[general]
## editor for prompt editing
#editor="nano"

## path to write lean code to
## relative to executable directory
#lean_path=gpt.lean

## API key stored at
## relative to executable directory
#api_key_path=openai.key

## tmpfile for prompt editing
## relative to executable directory
#tmp_prompt="/tmp/leapt_prompt.txt"

## save history to file
## relative to executable directory
## default: 'history/<datetime>'
#history_file=
